.container {
  max-width: 500px;
}
h1 {
  text-align: center;
  margin: 30px 0px 5px;
  font-weight: 200;
}
h4 {
  text-align: center;
  font-size: 15px;
}
#icon {
  display: block;
  margin: 0 auto;
  width: 60px;
  margin-bottom: -20px;
  margin-top: -10px;
}
body,
.card {
  background: linear-gradient(
    359.3deg,
    rgba(187, 187, 187, 0) 1%,
    rgb(196, 214, 252) 70.9%
  );
}
.card {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  box-shadow: gray;
}
.card-body {
  text-align: center;
}
.card-title {
  font-size: 35px;
  font-weight: 200;
}
#unit {
  font-size: 15px;
  position: relative;
  top: -15px;
}
.active {
  color: black;
  cursor: default;
}
.active:hover {
  text-decoration: none;
  color: black;
}
a {
  text-decoration: none;
}
.card-text {
  font-size: 12px;
  color: grey;
  font-weight: 300;
}
.card-text:first-letter {
  text-transform: capitalize;
}
.weather-data {
  display: block;
  margin: 0 auto;
  font-size: 10px;
  color: grey;
}
button {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 10px;
  border-color: black;
  font-weight: 300;
  font-size: 10px;
  padding: 2px 5px;
  background-color: rgba(187, 187, 187, 0);
  box-shadow: 4px 3px 5px grey;
}
button:hover {
  font-weight: bold;
}
#search {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 20px;
}
.search-city {
  border-radius: 10px;
  border-color: black;
  font-weight: 300;
  font-size: 12px;
  padding: 2px 5px;
  background-color: rgba(187, 187, 187, 0);
}
.search-button {
  font-size: 10px;
  background-color: (187, 187, 187, 0);
}

ul {
  list-style-type: none;
}
.day1,
.day2,
.day3,
.day4,
.day5 {
  font-size: 20px;
  color: grey;
}
.col-2 {
  color: grey;
  font-size: 13px;
}
.emoji {
  font-size: larger;
}
.sun {
  color: grey;
  margin: 10px 0px 60px;
  text-align: center;
}
.open-source {
  font-size: 8px;
  text-align: center;
  margin: 15px 0px 0px;
}
